@use "../base/variables" as *;
@use "../base/mixins" as m;

.game {
  margin: auto 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  &__title {
    color: rgb(20, 57, 88);
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;

    @include m.tablet {
      font-size: 3rem;
    }

    @include m.desktop {
      font-size: 4rem;
      padding: 1rem;
    }
  }

  &__turn {
    margin: 5rem auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 40% 20% 40%);

    &-title {
      font-size: 2rem;
      font-weight: 100;

      @include m.desktop {
        font-size: 4.5rem;
      }
    }

    &-player {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include m.tablet {
        gap: 2rem;
      }
    }

    &-icon {
      width: 60%;

      @include m.tablet {
        width: 50%;
      }

      @include m.desktop {
        width: 45%;
      }

      & img {
        width: 100%;
      }

      &--blur {
        filter: blur(8px);
      }
    }

    &-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }

    &-winner {
      height: 50px;
      font-weight: bold;
      font-size: 4rem;
      color: rgb(234, 224, 49);
      text-transform: uppercase;
      font-family: Arial;
    }

    &-score {
      font-size: 6rem;
      letter-spacing: 1rem;
    }

    &-new {
      background-color: rgb(234, 224, 49);
      width: 14rem;
      visibility: hidden;
    }
  }

  &__buttons-title {
    color: rgb(163, 223, 243);
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 2rem;

    @include m.desktop {
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }
  }
}
